
body{
    background-color: rgb(218, 210, 210);
    
    font-family: 'Poppins', sans-seri
    
      
    
}
.div1{
    font-size: 14px;
    border-top: 5px solid aqua;
    height: 40px;
    width: 33%;
    background-color: white;
    padding: 17px;

}
form{
    
    display: flex;
}
.input{
  height: 30px;
  width: 97%;
  border: 1px solid lightgray;
padding-left: 5px;
border-radius: 3px;


}
.btn{
    margin-left: -5px;
    margin-top: 0px;
    height: 34px;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 3px;
   
}
.div2{
    font-size: 14px;
    border-top: 5px solid aqua;
    margin-top: 20px;
    height: 220px;
    width: 33%;
    background-color: white;
    padding: 17px; 
}

.firstin{
    margin-top: 5px;
    height: 30px;
    width: 97%;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
